@font-face {
  font-family: ibm;
  src: url(../../public/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: spirit;
  src: url(../../public/fonts/spirits/fonnts.com-Spirits-Sharp-Light.otf);
}

.ibm {
  font-family: ibm;
}

.spirit {
  font-family: spirit;
}

a,
p,
span,
input,
li,
ul,
button {
  font-family: ibm;
}
