@font-face {
  font-family: ibm;
  src: url(../../public/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: spirit;
  src: url(../../public/fonts/spirits/fonnts.com-Spirits-Sharp-Light.otf);
}
@font-face {
  font-family: pf_nine;
  src: url(../../public/fonts/67fcd59caa79d68d8f41d825_PerfectlyNineties-Regular.otf);
}

.ibm {
  font-family: ibm;
}

.spirit {
  font-family: spirit;
}

.pf_nine {
  font-family: pf_nine;
}

a,
p,
span,
input,
li,
ul,
button {
  font-family: ibm;
}
