@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  --scene-mix: 0;
  --primary_text: #002bba;
  --primary_bg: #012cba;
  overflow-x: hidden;
  background-color: white;
  width: 100%;
}
.text_blue {
  color: var(--primary_text) !important;
}
.bg_blue {
  background-color: var(--primary_bg) !important;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding {
  padding: 2.5rem;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-background:after {
  background: url(https://soleilnoir.com/wp-content/themes/soleil-noir/static/images/noise.png)
    50% / 512px 512px;
  mix-blend-mode: overlay;
  opacity: calc(0.5 * var(--scene-mix));
  transform: rotateY(180deg) rotateX(180deg);
}

.site-background:before {
  background: url(https://soleilnoir.com/wp-content/themes/soleil-noir/static/images/noise.png)
      50% / 512px 512px,
    blue;
  background-blend-mode: color;
  mix-blend-mode: hard-light;
  opacity: calc(0.1 * var(--scene-mix));
}
.site-background:before,
.site-background:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: "";
}

.menu_deck::after{
      content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%);
    transform: translate(-100%, -100%);
    animation: 5s linear infinite glow;
}

@keyframes glow {
  0% {
    transform: translate(-100%, -100%);
}
60% {
    transform: translate(-100%, -100%);
}
90% {
    transform: translate(100%, 100%);
}
100% {
    transform: translate(100%, 100%);
}
  
}

.scene {
  perspective: 1000px;
}
.cardVI {
  /* transform: rotateY(15deg) rotateX(6deg); */
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
}

.cloud {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  pointer-events: none;
  z-index: 999; /* ABOVE plane */
  opacity: 0;
  will-change: transform, opacity;
}






/* --------------------------------------------------- */


/*==== form Div====  */
.form{
 
  position:relative;
  overflow:hidden;
  margin-bottom:10px;
}
.form input{
  width:100%;
  height:100%;
  color:#ffffff;
  padding-top:25px;
  border:none;
  outline:none;
}
.form label {
  position: absolute;
  width:100%;
  height:100%;
  bottom:0px;
  left:0%;
  pointer-events:none;
  border-bottom:1px solid #ffffff42;
}
.form label::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-bottom:3px solid #ffffff;
  bottom:-1px;
  left:0px;
  transform:translateX(-100%);
  transition:all 0.3s ease;
}
.content-name{
  position:absolute;
  bottom:5px;
  left:0px;
  transition:all .3s ease;
}
.form input:focus + .label-name .content-name ,
.form input:valid+ .label-name .content-name{
  transform:translateY(-150%);
  font-size:14px;
  color:#ffffff;
}
.form input:focus+ .label-name::after, 
.form input:valid+ .label-name::after {
  transform:translateX(0%);
   
}
.made{
  position:absolute;
  bottom:10%;
}
.made i{
  color:red;
}