@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  --primary_text:"";
  --primary_bg:""
  overflow-x: hidden;
  background-color: white;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding {
  padding-inline: 1rem;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


