@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  --primary_text:#002BBA;
  --primary_bg:#012CBA;
  overflow-x: hidden;
  background-color: white;
  width: 100%;
}
.text_blue{
  color: var(--primary_text) !important;
}
.bg_blue{
  background-color: var(--primary_bg) !important;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding {
  padding: 2rem;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


